<div class="container-fluid text-white d-flex justify-content-center align-items-center" style="height:600px;">
   <div class="pt-4" style="width: 550px;">
       <p class="text-center">Ready to watch? Enter your email to create or restart your membership.</p>
       <div class="input-group input-group-lg">
           <input type="email" class="form-control" placeholder="Your email address">
           <button class="btn btn-danger">
               Get Started <span class="bi bi-chevron-right"></span>
           </button>
       </div>
   </div>
</div>