<div class="container">
  <form>
      <h2>{{title}}</h2>
      <dl>
          <dt>User Name</dt>
          <dd><input type="text"></dd>
          <dt>Email</dt>
          <dd><input type="email"></dd>
          <dt>City</dt>
          <dd>
              <select>
                  <option>Delhi</option>
                  <option>Hyd</option>
              </select>
          </dd>
          <dt>Password</dt>
          <dd><input type="password"></dd>
          <dt>Verify Code</dt>
          <dd>{{code}}</dd>
      </dl>
      <button>Register</button>
  </form>
</div>